body{
    margin: 0px;
}

main{
    padding: 10px;
    background-color: #d387de40;
}


@media(min-width: 768px){
    main{
        width: 700px;
        margin: auto;
    }
}

@media(min-width: 664px){
    main{
        background-color: rgba(110, 223, 181, 0.21);
    }
}

.icy{
    width: 300px;
    padding: 10px;
}

.marshy{
    width: 300px;
    padding: 10px;
}

h2 {
    text-align: center;
    color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27pt;
}