body{
    margin: 0px;
}

main{
    padding: 10px;
    background-color: burlywood;
}


@media(min-width: 768px){
    main{
        width: 700px;
        margin: auto;
    }
}

@media(min-width: 1023px){
    main{
        background-color: rgba(223, 174, 110, 0.541);
    }
}