*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient( to right bottom , #bdddfcc4 , #6e5370 );
    background-repeat: no-repeat;
   
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding-left: 20px;

}

nav ul{
    float: left;
    margin: left 20px;
    display: none;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 40px;
}

nav ul li a{
    
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

a.active,a:hover{
    background: #d1b6beb2;
    transition: 0.7s;
}

.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}

#check{
    display: none;
}
#check:checked ~ ul{
    left: 100%;
}
select{
    font-size: 20px;
}

.images{
    padding: 40px;
}


@media screen and (max-width:1224px){
    nav ul li a{
        font-size: 16px;
    }


    select{
        font-size: 1rem;
    }
    
    .hamburger{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #30262c3d;
        top: 54px;
        left: 0;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul{
        display:flex;
        flex-direction: column;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px
    }
    a:hover,a.active{
        background: #5d4954ad;
        
    }
    #check:checked ~ ul{
        left: 100%;
    }
}



