@import url("nav.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Source+Sans+Pro:wght@900&display=swap');

.images img{
    width: 100%;
    height: 100%;
  }


html{
    font-size: 10px;
}
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text-wrapper{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 7rem;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: white;
    font-weight: 100;
    line-height: 0.4;
}
.headline::first-letter{
    font-size: 20rem;
}
h2 {
    font-size: 8rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: white;
}
.parallax{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.overflow{
    height: 200vh;
}

p{
    padding: 40px;
    padding-top: 0;
    text-align: left;
    background-color: white;
    font-size: 20px;
    line-height: 30px;
}

h3{
    font-size: 50px;
    background-color: white;
    padding: 40px;;
    text-align: center;
}