
*{
font-family: 'Poppins', sans-serif;
text-decoration: none;
list-style: none;
text-transform: uppercase;
font-size: 20px;
font-weight: bold;


}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex a{
    padding-top: 15px;
}
nav img{
    width: 200px;
    align-items: center;
}

nav ul li{
    padding: 10px;

}

.order-1{
    order: 1;
}

.order-2{
    order: 2;
}
.order-2{
    order: 3;
}
.order-2{
    order: 4;
}
.order-2{
    order: 5;
}

.flex-column{
    flex-direction: column;
}

@media(min-width: 768px){
    .flex{
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }
   
}

.flex a{
    padding-top: 15px;
}
