*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{

    background-size: cover;
    width: 100%;
}


footer{
    background: rgb(23, 31, 22);
    padding-top: 2%;
    margin-top: 15px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.text-center h4{
    color: #bdc1ac;
}
footer span{
    padding: 0.3em 0.7em;
    color: #bdc1ac;
    transition: all .5s ease;
}
footer p{
    color: #bdc1ac;
    font-size: 16px;
}

footer .top a{
    position: absolute;
    right: 2%;
    top: 69%;
    color: #bdc1ac;
    font-size: 20px;
}
