*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    height: 100%;
    overflow:hidden;
}

body{
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
}

/*======Navigation Bar, Mobile Version======*/

nav{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    min-height: 8vh;
    background-color: #4e3448;
    font-family: 'Poppins', sans-serif;
}
.logo{
    align-self: center;
   
    margin-inline: 10px;
}
label{
    margin-left: auto;
    padding: 20px;
}
img{
    width: 75px;

}
#check:checked ~ ul{
    left: 100%;
}
#check{
    display: none;
}
.hamburger{
    display: block;
    cursor: pointer;
}

.hamburger div{
    width: 25px;
    height: 3px;
    background-color: #ffe6b3;
    margin: 5px;
}

nav ul li a{
    font-size: 20px
}
@media screen and (max-width: 768px){
    ul{
        position: fixed;
        width: 100%;
        height: auto;
        background-color: #6e8874;
        top: 80px;
        left: 0;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        line-height: 80px;
        border-bottom: 1px solid #95AE8D;
    
    }
    nav ul li a{
        font-size: 25px;
        color: #FFF3D9;
    }
    a:hover,a.active{
        background: none;
        color: #95AE8D;
    }
    #check:checked + ul{
        left: 100%;
    }
}
  /*======End of navigation Bar, Mobile Version=========*/  


section{
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

img{
    width: 75px;
}
/*=======Parallax Scrolling, Mobile Version=====*/
header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1{
    margin-top: -100px;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before{
    bottom: 0;
    content: "";
    left:0;
    right:0;
    position: absolute;
    top:70px;
    display: block;
    background-image: url(home.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    
}


header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}
/*===========End of Parallax Scroling, Mobile Version======*/

/*===Social Icons================*/
#social-icons{
    height: 150px;
    text-align: center;
    padding: 50px 0 50px 0;
    background: white;
}

#social-icons a{
    display:inline-block;
    padding: 5px 10px;
    margin: 0 50px;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 2s ease, color, 2s ease
}

#social-icons a:hover{
    transform: translateY(-20px);
}
.facebook{
    color: #3b5998;
}
.instagram{
    color: #e1306c;
}
.twitter{
    color:#38a1f3;
}


/*===========Start of Desctop Version=============*/
@media (min-width: 768px){
    
    nav{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        min-height: 8vh;
        background-color: #4e3448;
        font-family: 'Poppins', sans-serif;
    }
    
    nav ul{
        margin-right: auto;
    }
    
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 20px;
    }
    
    nav ul li a{
        color: #FFF3D9;
        font-size: 17px;
    }
    
    a.active,a:hover{
        background: #2e6e8d;
        transition: 0.7s;
    }
    
    .hamburger{
        display: none;
        cursor: pointer;
    }
    
    .hamburger div{
        width: 25px;
        height: 3px;
        background-color: #ffe6b3;
        margin: 5px;
    }
    
    #check{
        display: none;
    }
    header{
        box-sizing: border-box;
        min-height: 100vh;
        padding: 30vw 0 5vw;
        position: relative;
        transform-style: inherit;
        width: 100vw;
    }
    
    header h1{
        margin-top: -100px;
    }
    
    header, header:before {
        background: 50% 50% / cover;
    }
    
    header::before{
        bottom: 0;
        content: "";
        left:0;
        right:0;
        position: absolute;
        top:70px;
        display: block;
        background-image: url(home.jpg);
        background-size: cover;
        transform-origin: center center 0;
        transform: translateZ(-1px) scale(2);
        z-index: -1;
        min-height: 100vh;
        
    }
    
    
    header * {
        font-weight: normal;
        letter-spacing: 0.2em;
        text-align: center;
        margin: 0;
        padding: 1em 0;
    }
    

}


