@import url("nav.css");
@import url("footer.css");

*{
    
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url(bg5.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
}

h1{
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}


@media screen and (max-width: 768px){
   
    .grid-container .grid-item:nth-child(7){
        display: none;
    }
    .grid-container .grid-item:nth-child(8){
        display: none;
    }
    .grid-container .grid-item:nth-child(9){
        display: none;
    }
    .grid-container .grid-item:nth-child(10){
        display: none;
    }
    .grid-container .grid-item:nth-child(11){
        display: none;
    }
    .grid-container .grid-item:nth-child(12){
        display: none;
    }
    .grid-container .grid-item:nth-child(13){
        display: none;
    }
    .grid-container .grid-item:nth-child(14){
        display: none;
    }
    .grid-container .grid-item:nth-child(15){
        display: none;
    }
}

/*=========Grid, Mobile Version=======*/
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 100px 300px;
    gap: 0px;
    height: auto;
    width: 100%;
    margin: auto;
    color:white;
}
.grid-container .grid-item:nth-child(1){
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    text-align: center;
   background-image: url(coffee3.jpg);
   grid-column: 1 / span 2;
}
.grid-container .grid-item:nth-child(2){
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}
.grid-container .grid-item:nth-child(3){
    text-align: right;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    grid-column: 2 / span 1;
}
.grid-container .grid-item:nth-child(4){
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    text-align: center;
    grid-column: 1 / span 2;
    background-image: url(espresso2.jpg);
}
.grid-container .grid-item:nth-child(5){
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    height: 280px;
}
.grid-container .grid-item:nth-child(6){
    text-align: right;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}

/*======Grid 2 =======*/
.grid-container2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 100px 300px;
    gap: 0px;
    height: auto;
    width: 100%;
    margin: auto;
    color:white;
}


.grid-container2 .grid-item:nth-child(1){
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    text-align: center;
   background-image: url(alternatives2.jpg);
   grid-column: 1 / span 2;}


.grid-container2 .grid-item:nth-child(2){
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}
.grid-container2 .grid-item:nth-child(3){
    text-align: right;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    grid-column: 2 / span 1;
}
.grid-container2 .grid-item:nth-child(4){
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    text-align: center;
    grid-column: 1 / span 2;
    background-image: url(tea2.jpg);
}
.grid-container2 .grid-item:nth-child(5){
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}
.grid-container2 .grid-item:nth-child(6){
    text-align: right;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}
.grid-container2 .grid-item:nth-child(7){
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    text-align: center;
    grid-column: 1 / span 2;
    background-image: url(extras2.jpg);
}
.grid-container2 .grid-item:nth-child(8){
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color:transparent;
}
.grid-container2 .grid-item:nth-child(9){
    text-align: right;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color:transparent;
}
p{
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #4e3448;
}

/*========End of Grid Mobile Verision===========*/

section{
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

img{
    width: 75px;
}

@media (min-width: 768px){
    
   
/*=======Grid Desctop=========*/
.grid-container2{
    display: none;
}
    .grid-container {
        display: grid;
        grid-template-columns: 24% 24% 4% 24% 24%;
        grid-auto-rows: 100px 300px;
        height: auto;
        width: 1000px;
        margin: auto;
        color: white;
        
    }
    .grid-container .grid-item:nth-child(1){
        font-family: 'Dancing Script', cursive;
        font-size:50px;
        text-align: center;
        background: transparent;
       grid-column: 1 / span 2;
    }
    .grid-container .grid-item:nth-child(2){
        text-align: left;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        grid-column: 1/ span 1;
    }
    .grid-container .grid-item:nth-child(3){
        text-align: right;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        grid-column: 2 / span 1;
    }
    .grid-container .grid-item:nth-child(4){
        font-family: 'Dancing Script', cursive;
        font-size:50px;
        text-align: center;
        grid-column: 1 / span 2;
        background: transparent;
    }
    .grid-container .grid-item:nth-child(5){
        text-align: left;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        height: 280px;
        grid-column: 1/ span 1;
    }
    .grid-container .grid-item:nth-child(6){
        text-align: right;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        grid-column: 2 / span 1;
    }
    .grid-container .grid-item:nth-child(7){
        font-family: 'Dancing Script', cursive;
        font-size:50px;
        text-align: center;
       background: transparent;
       grid-column: 4 / span 2;
       grid-row-start: 1;
    }
    
    
    .grid-container .grid-item:nth-child(8){
        text-align: left;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        grid-column: 4 / span 1;
       grid-row-start: 2;
    }
    .grid-container .grid-item:nth-child(9){
        text-align: right;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        grid-column: 5 / span 1;
        grid-row-start: 2;
    }
    .grid-container .grid-item:nth-child(10){
        font-family: 'Dancing Script', cursive;
        font-size:50px;
        text-align: center;
        grid-column: 1 / span 2;
        background: transparent;
        grid-column: 4/ span 2;
       grid-row-start: 3;
    }
    .grid-container .grid-item:nth-child(11){
        text-align: left;
        font-size: 20px;
        line-height: 20px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        grid-column: 4 / span 1;
       grid-row-start: 4;
    }
    .grid-container .grid-item:nth-child(12){
        text-align: right;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        grid-column: 5 / span 1;
       grid-row-start: 4;
    }
    .grid-container .grid-item:nth-child(13){
        font-family: 'Dancing Script', cursive;
        font-size:50px;
        text-align: center;
        grid-column: 4 / span 2;
        background: transparent;;
    }
    .grid-container .grid-item:nth-child(14){
        text-align: left;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color:transparent;
        grid-column: 4 / span 1;
       grid-row-start: 6;
    }
    .grid-container .grid-item:nth-child(15){
        text-align: right;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        grid-column: 5 / span 1;
       grid-row-start: 6;
    }
    
    
}

